<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Nogi Song Recommender Demo</title>
    </head>

    <body>
        {% if user.is_authenticated %}
            <p>Hello {{ user.username }}</p>
            <a href="{% url 'auth:logout' %}">Logout</a>
        {% else %}
            <p><a href="{% url 'auth:login' %}">Login</a></p>
            <p><a href="{% url 'registration_register' %}">Register</a></p>
        {% endif %}
        {% block content %}
        {% endblock %}
    </body>

</html>